.main {
            margin-top: 220px;
        }

        body {
            background: black;
            line-height: 2.12857143;
        }

        @font-face {
            font-family: "s7";
    src: url(https://dl.dropbox.com/s/9w04nj4cqqbwr6z/DSEG7Classic-Bold.woff) format('woff');
}

@font-face {
    font-family: s14;
    src: url(https://dl.dropbox.com/s/qzty6p6p7nwfhbg/DSEG14Modern-Italic.woff)
}
        .clock-out {
            background: rgb(0, 0, 0);
            height: 175px;
            border-radius: 10px;
            border: 5px solid red;

        }

        .clock {
            font-family: s7;
            font-size: 50px;
            font-style: italic;
        }

        .time-bg {
            color:rgba(51, 91, 91, 0.15);
            position: absolute;
            left: 140px
        }

        .time {
            font-family: s14 !important;
            font-size: 14px;
            top: 15px;
            left: -20px;
            position: absolute;
            font-style: italic;
        }

        .time-front {
            position: absolute;
            color: red;
            left: 140px;
        }

        .date {
            font-family: s7;
            font-size: 30px;
            top: 95px;
            left: -10px;
            position: absolute;
            font-style: italic;
        }

        .date-bg {
            color: rgba(51, 91, 91, 0.15);
            position: absolute;
            left: 60px
        }

        .date-front {
            position: absolute;
            color: rgb(255, 0, 0);
            left: 60px
        }

        .day {
            font-family: s14;
            font-size: 30px;
            left: 250px;
            top: 100px;
            position: absolute;
            font-style: italic;
        }

        .day-bg {
            color: rgba(194, 206, 206, 0.12);
            position: absolute;
            left: 60px
        }

        .day-front {
            position: absolute;
            color: rgb(255, 0, 0);
            left: 60px
        }
